 td {
     width: 15px;
     height: 15px;
 }
 
 table {
     display: inline-block;
 }
 
 
 
 body {
     text-align: center;
     background-image: url("../img/words.jpg");
     background-color: green;
 }
 
 h1{
     padding: 5px;
     background-color: rgba(255, 255, 255, 0.75);
     
     
 }
 
 main {
     width:1200px;
     margin: auto;
     background-color: rgba(211, 211, 211, 0.75)
 }